

	h1{

		text-align: center;
		margin-top: center;
		font-family: 'Kaushan Script', cursive;  text-shadow:
      -1px -1px 5px #C70404,
      1px -1px 5px #C70404,
      -1px 1px 5px #C70404,
      1px 1px 5px #C70404;
	}
	h2 {
	  color: blue;
	  float: center;
	}

	a:link{

		font-family: sans-serif;
		padding-base-vertical:6px;
		background-color: transparent;
		color:#1803AD

	}
	p{
		text-align: center;
		font-family: sans-serif;
		padding-base-vertical:6px;
		color:#black

	 }

	img {
		width: 100px;
		height: 100px;
		border: 3px solid #73AD21;
	}

nav{
	align-self: auto;
	width: 100%;

}
	li {
		margin-top: center;
		text: center;
		font-family: sans-serif;
		padding-base-vertical:6px;
		color:#CEECF5

	}
	ul {
	  font-size: 20px;
	  line-height: 30px;
	  text-align: center;
	  list-style-type: none;
	  color : green;
	}

	/*div.name{
	  background-color:grey;
	  border-radius:10%
	  text-align: center;

	}*/

	div.container{

	  border: solid;
	  border-radius: 10%;
	  background-color: lightblue;
	  text-align: center;
	  margin-top: 10px;
	  margin-bottom: 10px;
	  width: 60%;

	}




/
